* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    max-width: 100%;
    height: 60px;
    background-color: #4A55A2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}