* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    max-width: 100%;
    height: 60px;
    background-color: #4A55A2;
    color: white;
}

main {
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

title-header > h1 {
    text-align: center;
    line-height: 60px;
}

kage-app {
    margin: auto;
    text-align: center;
}

kage-app > h6 span.count {
    color: red;
}